---
---

/* center and adjust the sidebar contents on smaller devices */
/* Was 768... which does dumb things on an iPad2 
  I needed to view source on the iPad2:
http://www.padgadget.com/2013/04/30/ipad-safari-tips-how-to-view-and-search-web-page-source-code-on-your-ipad/
and from there, I saw that the iPad2, in portrait mode, was 767 pixels wide.

This page helped as well:
http://furbo.org/2007/07/24/one-line-of-code/

@media (max-width: 760px) {

}

*/

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
    
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }

}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
    
    
    #sidebar {
      font-size: 2em;
      text-align: center;
      margin:0 auto;
    }
    #sidebar a.logo {  
      font-size:3em;
      height: 150px;
      width: 300px;
      margin-bottom: 30px;
    }
  
    #sidebar div.mobile-logo {
      display: block;
      width: 100%;
    }
  
    #main div.mobile-logo {
      display: none;
    }
  
    #main .post-image {
      display: none;
    }
}

/*
@media only screen and (min-width: 858px) {
    html {
        font-size: 24px;
    }
}

@media only screen and (min-width: 760px) {
    html {
        font-size: 22px;
    }
}

@media only screen and (min-width: 702px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 724px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (max-width: 623px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 20px;
  }
}
*/