---
layout: none
---

body {
  background-color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #333;
}

/* Links */
a {
    color: purple;
    word-wrap: break-word;
    font-weight: 600;

}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    font-weight: 600;
    outline: 0;
}

a:before,
a:after {
}

ul {
    list-style: inside disc;
    margin-left: 0.5em;
}

ul li {
    position: relative;
    left: 1em;
    padding-right: 1em;    
}​

ol {
    list-style: inside;
    margin-left: 0.5em;
}

ol li {
    position: relative;
    left: 1em;
    padding-right: 1em;    
}​

{% comment %}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
    font-weight: 800;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

div {
  
}


.exhibitors {
  color: white;
	background-color: {{site.data.main.purple}};
	padding-top: 10px;
}

#exhibitors {
  color: white;
}
{% endcomment %}
