---
layout: none
---

body {
  background-color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #333;
}

/* http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3 */
.navbar-default {
	background-color: #551e82;
	border-color: #6244b2;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #6244b2;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #6244b2;
}
.navbar-default .navbar-toggle {
	border-color: #6244b2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #6244b2;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #6244b2;
	}
}

/* Links */
a {
    color: purple;
    word-wrap: break-word;
    font-weight: 600;

}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    font-weight: 600;
    outline: 0;
}

a:before,
a:after {
}


ul li{position:relative;left:1em;padding-right:1em}
ol li{position:relative;left:1em;padding-right:1em}