<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center">Attend SIGCSE 2015 in Kansas City, Missouri</h1>
    <div class="col-md-4">   

<p><a href="{{site.base}}/attendees/">{% icon star %} CLICK HERE {% icon star %} for all of your registration and attendance needs</a>. You know you want to.
</p>
<p>For example, you should click if you want to:</p>
<p>
<ul>
  <li> <strong>Register</strong> for SIGCSE {{site.data.main.year}}.</li>
  <li> <strong>Reserve</strong> a room. </li>
  <li> Plan <strong>travel</strong> to SIGCSE. </li>
</ul>
</p>
    
<h3>Fun Facts about KC</h3>

<p>      Kansas City, Missouri (not to be confused with other Kansas Cities) is an excellent conference location. There are attractions to enjoy outdoors (<a href="http://weatherspark.com/averages/30893/3/Kansas-City-Missouri-United-States">average high temperature in March: 50-60 ˚F</a>), tasty food and beverage, and our venue is centrally located and going to be a great venue for SIGCSE. 
</p>
<p class="text-center"> 
  <iframe width="300" height="169" src="//www.youtube.com/embed/vfddMlbckWY" frameborder="0" allowfullscreen></iframe>
</p>

    </div>
    <div class="col-md-8 text-center">
      
<div id="the-carousel-also" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators"></ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/carousel/KC19.jpg" width="100%" alt="{{i.caption}}">
      <div class="carousel-caption">
      </div>
    </div>
    <!-- The image that was here has been sacked -->
    {% comment %}
    <div class="item false active">
      <img src="/images/carousel/KC23.JPG" width="100%" alt="{{i.caption}}">
      <div class="carousel-caption">
        Monuments you didn't know existed!
      </div>
    </div>
    {% endcomment %}
    <div class="item false">
      <img src="/images/carousel/KC10.jpg" width="100%" alt="{{i.caption}}">
      <div class="carousel-caption">
        <!-- An excellent conference venue! -->
      </div>
    </div>
  </div>
  
  <a class="left carousel-control" href="#the-carousel-also" role="button" data-slide="prev"></a> 
  
  <a class="right carousel-control" href="#the-carousel-also" role="button" data-slide="next"></a>
</div>


      
      
    </div>

	</div>
</div>