<div class="row">
  <div class="col-lg-12">

    <h1 class="text-center">Attend SIGCSE 2015 in Kansas City, Missouri</h1>
    <div class="row"><!-- keynote row -->
      <div class="col-md-10 col-md-offset-1">
      <h3>SIGCSE 2015 Keynote Speakers</h3>
      <p>We are pleased to announce the SIGCSE 2015 Keynote Speakers.</p>
      <ul>
        <li><strong>Thursday, March 5 – Opening Plenary</strong> – Jessica Hodgins -  Vice President, Disney Research and Professor, Carnegie Melon University</li>
        <li><strong>Thursday, March 5  - First Timers' Lunch</strong> – SIGCSE Award for Lifetime Service to the Computer Science Education Community - Frank Young – Emeritus Professor, Rose-Hulman Institute of Technology</li>
        <li><strong>Friday, March 6 – Morning Plenary</strong> – SIGCSE Award for Outstanding Contribution to Computer Science Education  - Mark Allen Weiss – Professor, Florida International University</li>
        <li><strong>Saturday, March 7 – Luncheon Speaker</strong> – Keith Hampton – Associate Professor, Rutgers University</li>
    </ul>
    </div>
    </div> <!-- end keynote row -->
    <div class="row"> <!-- inner row -->
    <div class="col-md-6">   
      <h3>Critical Steps</h3>
      
  <p>
    <ul>
      <li> <a href="{{site.base}}/attendees/index.html#registering-for-sigcse-2015">Register</a> for SIGCSE {{site.data.main.year}}</li>
      <li> <a href="{{site.base}}/attendees/index.html#reserving-a-room-at-the-kansas-city-marriott-downtown">Reserve</a> a room </li>
      <li> Plan <a href="{{site.base}}/attendees/index.html#getting-to-sigcse-2015">travel</a> to SIGCSE </li>
    </ul>
  </p>

  <p>
    <h3>Info and Activities</h3>
    <p>This is the good stuff... the conference details that you really need, like the programme, pre-symposium events, and information about the locale.</p>
    <ul>
      <li><a href="{{site.base}}/attendees/SIGCSE2015-preliminary-programme.pdf">The Preliminary Programme (PDF)</a></li>
      <li><a href="{{site.base}}/attendees/SIGCSE2015-workshop-descriptions.pdf">Symposium Workshop Descriptions (PDF)</a></li>
      <li><a href="{{site.base}}/attendees/presymposium.html">Pre-Symposium Workshops and Events</a></li>
      <li><a href="https://www.visitkc.com/">The KC Visitor's Bureau</a></li>
    </ul>
  </p>
  
  <p>
    <h3>First Timer?</h3>
    <p>If this is your first time attending SIGCSE, make sure to register for and attend the First Timers’ Lunch that is held on Thursday, March 5 at noon.  This event is included in your conference registration.</p>
  </p>
  <p>
    <h3>K-12 or Community College Educator?</h3>
    <p> Pages highlighting activities for professionals in these groups coming soon.</p>
  </p>

</div>
<div class="col-md-6 text-center">
        <img src="/images/carousel/height-400px/KC19-400.png" alt="Street sign.">
        <br>
        <h3> COUNTDOWN TO SIGCSE {{site.data.main.year}} </h3>
        <div id="countdown-to-sigcse"></div>
</div>
    </div> <!-- end inner row -->
    
	</div>
</div>

<script>
  var clock = document.getElementById("countdown-to-sigcse")
    , targetDate = new Date(2015, 02, 04); // March 4, 2015;
  var cd = countdown(null, targetDate, countdown.MONTHS | countdown.DAYS );
  var mplural = "";
  var dplural = "";
  if (cd.months > 1) {
    mplural = "s";
  }
  if (cd.days > 1) {
    dplural = "s";
  }
  clock.innerHTML = cd.months + " month" + mplural + " and " + cd.days + " day" + dplural;
</script>