<h1 class="text-center">Supporters: Exhibitors and Sponsors</h1>

<p>
  The support of many excellent sponsors and exhibitors help make SIGCSE the amazing conference that it is.
</p>
<p>
  <strong>Exhibitors are an essential part of the SIGCSE community</strong>. As we engage in questions of how best to bring computing to students around the world, exhibitors connect us to what resources exist for our students. Whether you are a publisher, vendor, community rep, or evangelist engineer, we want you at SIGSCE, helping us bring the best tools and technologies to the next generation of computing experts.
</p> 
<p>
  <strong>Sponsors  make this conference possible</strong>. The best way to transform how we approach the teaching of computing is to bring people together to share best practices, be they design strategies for active learning assessment strategies for education online. 
</p>
  
  <a href="{{site.base}}/supporters/">Get involved! Join us as an exhibitor and become a sponsor of SIGCSE {{site.data.main.year}}!</a>
</p>

