
{% comment %}

<div class = "row">

<h1 class="text-center">Supporters: Sponsors and Exhibitors</h1>

<p>
  The support of many excellent sponsors and exhibitors help make SIGCSE the amazing conference that it is.
</p>
<p>
  <strong>Sponsors  make this conference possible</strong>. The best way to transform how we approach the teaching of computing is to bring people together to share best practices, be they design strategies for active learning or assessment strategies for education online.
</p>

<p>
  <strong>Exhibitors are an essential part of the SIGCSE community</strong>. As we engage in questions of how best to bring computing to students around the world, exhibitors connect us to what resources exist for our students.
</p>


</div>

{% endcomment %}

{% for category in site.data.sponsors %}
  <div class="row">
      <h1 class="text-center" style="text-shadow: 1px 1px 1px {{site.data.main.gold}};">{{category[0]}} Sponsors</h1>
  </div>
  {% assign mod = 0 %}
  {% assign modulus = 3 %}
  {% capture span %}{{ 12 | divided_by: modulus }}{% endcapture %}
  {% capture subone %}{{modulus | minus: 1}}{% endcapture %}
  <!-- SPAN: {{span}} SUBONE: {{subone}} -->

  {% for sponsor in category[1]  %}
    {% capture mod %}{{ forloop.index0 | mod: modulus }}{% endcapture %}
    {% if mod == '0' or forloop.first %}
      <div class="row">
    {% endif %}

    <!-- SPONSOR: {{mod}} -->
    <div class="col-md-{{span}}" >
  	  <div class="thumbnail" style="border: 0px; padding-top: 40px;">
        <h3 class="text-center" style="margin-top: -25px; color: black;">{{sponsor.name}}</h3>
        <a href="{{sponsor.link}}">
  		    <img alt="{{sponsor.name}}"
               src="{{site.base}}/images/sponsors/{{sponsor.image}}"
               />
        </a>
        <br/>
  	  </div>
    </div>

    {% if mod == subone or forloop.last %}
    </div> <!-- end row -->
    {% endif %}

  {% endfor %}
{% endfor %}
