<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center">Take Part - Papers, Posters, and More</h1>
    <p>
      There are many ways to take part in {{site.data.main.upper}}. You can submit your work and share it with your colleagues. You can review submissions, helping create an excellent conference experience for everyone. You can volunteer, and help make sure things run smoothly. 
    </p>

	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Submissions
			</h2>
        
    <div class="table-responsive">
      <table class="table">
          <tbody>
    {% for submission in site.data.cfp.master %}
      <tr>
        <td> <b>{{submission.date}}</b> </td>
        <td>
          {% for sub in submission.types %} 
          {% capture linked %}<a href="{{site.base}}/authors/index.html#{{sub.plural | remove: ' '}}">{{sub.plural}}</a></li>{% endcapture %}
          {% capture entry %}{% if forloop.first %}{% else %}<br> {% endif %}{{linked}}{% endcapture %}
            {{entry}}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
		<p>
      <a href="{{site.base}}/authors/">The SIGCSE {{site.data.main.year}} CFP has more details!</a>
		</p>
    
      
		</div>
    
    
    
		<div class="col-md-4 column">
			<h2>
				Reviewers
			</h2>
			<p>
        SIGCSE is an excellent conference because of the hard work of its community. Every submission—be it paper, poster, or otherwise—is reviewed by people just like you. <a href="{{site.base}}/reviewers/">Learn how to become a reviewer for SIGCSE</a>, or (if you are a reviewer), click through to <a href="{{site.base}}/reviewers/">review your assignments</a>.
			</p>
		</div>

		<div class="col-md-4 column">
			<h2>
				Volunteer!
			</h2>
			<p>
        Student volunteers have a long and noble tradition at SIGCSE—your webmaster got his start there, after all! Volunteering helps make things run the way they should, and saves you registration fees. <a href="{{site.base}}/students/">We need you to volunteer for SIGCSE today</a>!
			</p>
		</div>
	</div>
</div>