---
title: SIGCSE 2016
layout: flat
showTitle: false
---

<div class = "row">
  <div class = "col-md-10 center">
    <div class = "row">
      <h1 >
        {{page.title}} - {{site.data.main.month}} {{site.data.main.start}} - {{site.data.main.end}}
                  <br><small>Memphis, Tennessee</small>
      </h1>
      <p class="lead">Follow us on <a href="{{site.data.social.twitter}}">Twitter</a> and <a href="{{site.data.social.facebook}}">Facebook</a>!</p>
    </div>

    <div class = "row"> <!-- Four Blocks -->
      <div class = "row"> <!-- Top Row -->

        <div class = "col-md-5">
          <h3 class = "text-center">Contribute</h3>
          <br>
          <ul>
            {% for submission in site.data.cfp.master %}
              {% for sub in submission.types %}
                  {% capture link %}<a href = "{{site.base}}/authors/{{sub.plural | remove: ' ' | downcase}}.html">{{sub.plural}}</a>{% endcapture %}
                  {% capture entry %}{{link}}{% endcapture %}
                  <li> {{entry}} </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>

        <div class = "col-md-5">
          <h3 class = "text-center">Sponsors and Exhibitors</h3>
          <br>
          <div class = "row text-center">
            <a href = "{{site.base}}/docs/sigcse2016-prospectus.pdf">
              <img alt = " " src = "{{site.base}}/images/logos/engage-empower-prospectus-splash.png">
            </a>
          </div>
          <div class = "row text-center" style = "padding: 20px;">
            <h5>
              <a href = "{{site.base}}/docs/sigcse2016-prospectus.pdf">The Prospectus</a>
            </h5>
            For Sponsors and Exhibitors
          </div>
        </div>
      </div> <!-- End Top Row -->

      <div class = "row"> <!-- Bottom row -->
        <div class = "col-md-5">
          <h3 class = "text-center">Attend SIGCSE {{site.data.main.year}}</h3>
          <br>

          <ul>
            <li> <a href = "{{site.base}}/attendees/hotel.html">Hotel, Airport, and Ground Transportation</a> </li>
            <li> <span style = "color: #CCC">Conference Registration</span> </li>
            <li> <span style = "color: #CCC">The Program</span> </li>
          </ul>

        </div>

        <div class = "col-md-5">
          <h3 class = "text-center">Your Committees</h3>
          <br>
            <ul>
              <li> <a href = "{{site.base}}/committee/index.html">Program Commitee</a> </li>
              <li> <span style = "color: #CCC">International Committee</span> </li>
        </div>
      </div> <!-- End Bottom Row -->

    </div> <!-- End 4 Blocks -->
  </div> <!-- End LH 9 -->

  <div class = "col-md-2 center">
    
    
    <div class="row"><!-- LOGO -->
      <img src = "{{site.base}}/images/logos/sigcse-16-logo-200.png">
    </div>
    
    
    <div class = "row">
      <div class = "row">
        <h3>Submission Deadlines</h3>
      </div>
      <div class = "row">
        <div id = "track1countdown">Paper, Panel, Special Session, Workshop, and SRC </div>
      </div>
      <div class = "row">
        <hr>
      </div>
      <div class = "row">
          <div id = "track2countdown">BOF, Poster, LT, and Demo </div>
      </div>
      <div class = "row">
        <hr>
      </div>
      <div class = "row">
        <div id = "conferencecountdown"> to SIGCSE {{site.data.main.year}}.</div>
      </div>
    </div> <!-- End countdown row -->

    <div class = "row">
      <hr>
    </div>
    
    
    <div class = "row"> <!-- Scrolling Pictures -->
      <div class="indexpictures">
        <div><img src = "images/memphis/memphis-2-200.png"  width = 200 height = 400></div>
        <div><img src = "images/memphis/memphis-8-200.png"  width = 200 height = 400></div>
        <div><img src = "images/memphis/memphis-15-200.png"  width = 200 height = 400></div>
        <div><img src = "images/memphis/memphis-18-200.png"  width = 200 height = 400></div>
        <div><img src = "images/memphis/memphis-28-200.png"  width = 200 height = 400></div>
        <div><img src = "images/memphis/memphis-38-200.png"  width = 200 height = 400></div>
        <div><img src = "images/memphis/memphis-43-200.png"  width = 200 height = 400></div>
      </div>
    </div> <!-- End Scrolling Pictures -->
  </div> <!-- End RH 3 -->
</div>

<!-- Slick -->
<script>
$(document).ready(function(){
  $('.indexpictures').slick({
    // lazyLoad : "ondemand",
    infinite : true,
    mobileFirst : true,
    // pauseOnHover : true,
    swipe : true,
    swipeToSlide : true,
    autoplay: true,
    autoplaySpeed: 3000,
  });
});
</script>

<!-- Countdown.js -->
<script>
var track1 = countdown (new Date (), new Date ("{{site.data.cfp.track1}}"), countdown.DAYS);
$("#track1countdown").html (track1.toString() + " until " + $("#track1countdown").html() + " submissions are due.");

var track2 = countdown (new Date (), new Date ("{{site.data.cfp.track2}}"), countdown.DAYS);
$("#track2countdown").html (track2.toString() + " until " + $("#track2countdown").html() + " submissions are due.");

var conference = countdown (new Date (), new Date ("{{site.data.main.startdatestring}}"), countdown.DAYS);
$("#conferencecountdown").html (conference.toString() + $("#conferencecountdown").html() + " " );
</script>

<!--
<div class = "row"> &nbsp; </div>

<div class = "row">

  <div class = "col-md-3 col-md-offset-3">
    <div class = "row">
      <a href = "{{site.base}}/docs/sigcse2016-cfp.pdf">
        <img alt = " " src = "{{site.base}}/images/logo-2016-280.png">
      </a>
    </div>
    <div class = "row text-center" style = "padding: 20px;">
      <h5>
        <a href = "{{site.base}}/docs/sigcse2016-cfp.pdf">Call For Papers</a>
      </h5>
      For Authors and Presenters
    </div>
  </div>

  <div class = "col-md-3 col-md-offset-1">
    <div class = "row">
      <a href = "{{site.base}}/docs/sigcse2016-prospectus.pdf">
        <img alt = " " src = "{{site.base}}/images/engage-empower-energize-284.png">
      </a>
    </div>
    <div class = "row text-center" style = "padding: 20px;">
      <h5>
        <a href = "{{site.base}}/docs/sigcse2016-prospectus.pdf">The Prospectus</a>
      </h5>
      For Sponsors and Exhibitors
    </div>
  </div>

</div>
-->
