---
title: SIGCSE 2015
layout: home
includeBlogPosts: true
---

<div class="col-sm-12" id="featured">
    <div class="page-header text-muted">
        {{site.data.main.upper}} News Flashes
    </div>
</div><!--/top story-->

<div>
    <div>
      <ul>
        {% assign counter = '.' %}
        {% for post in site.posts  %}
        {% if counter.size < 5 >%}
          <li>{{ post.date | date_to_string }} &raquo; <a href="{{site.base}}/update/index.html#{{post.title | remove: " "}}">{{ post.title }}</a></li>
          {% endif %}
          {% capture counter %}{{counter}}.{% endcapture %}
        {% endfor %}
      </ul>
    </div>

  <div class="col-sm-12">
      <div class="page-header text-muted">
          Sponsors
      </div>
  </div><!--/top story-->