{% assign plural = include.plural %}
{% for submission in site.data.cfp.master %}
  {% for type in submission.types %}
    {% if type.plural == plural %}
      {% assign subdate = submission.date %}
      {% assign subtime = submission.time %}
      {% assign sublink = submission.link %}
    {% endif %}
  {% endfor %}
{% endfor %}


<div class="table-responsive" style="margin-top: 20px;">
  <table class="table">
      <tbody>
        <tr>
          <td><b>Date Due: </b></td>
          <td>{{subdate}}</td>
        </tr>
        <tr>
          <td><b>Time Due: </b></td>
          <td> <a href="{{submission.link}}">{{subtime}}</a> </td>
        </tr>
        <tr>
          <td><b>Submission Limits: </b></td>
          <td> {{site.data.cfp.details[plural].limits}} 
          {% if site.data.cfp.details[plural].abstract %}
            (including abstract of {{site.data.cfp.details[plural].abstract}})
          {% endif %}
          </td>
        </tr>
        <tr>
          <td><b>Presentation Length: </b></td>
          <td> {{site.data.cfp.details[plural].length}}</td>
        </tr>
        
        {% unless page.title contains "Call "%}
        <tr>
          {% comment %}
          This is weird... I don't want this on the CFP itself, so I'm using a fragile filter.
          {% endcomment %}

          <td><b>Submission Link: </b></td>
          <td> <a href="{{site.data.cfp.submissionurl}}">{{site.data.main.upper}} {{site.data.main.year}} Submissions (OpenConf)</a> </td>
        </tr>
        {% endunless %}
      </tbody>
    </table>
</div>
