{% assign plural = include.plural %}
{% for submission in site.data.cfp.master %}
  {% for type in submission.types %}
    {% if type.plural == plural %}
      {% assign subdate = submission.date %}
      {% assign subtime = submission.time %}
      {% assign subtimelink = submission.link %}
      {% assign specialsubmission = site.data.cfp.details[plural].specialsubmission %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="table-responsive" style="margin-top: 20px;">
  <table class="table">
      <tbody>
        <tr>
          <td><b>Date Due: </b></td>
          <td>{{subdate}}</td>
        </tr>
        <tr>
          <td><b>Time Due: </b></td>
          <td> <a href="{{subtimelink}}">{{subtime}}</a> </td>
        </tr>
        <tr>
          <td><b>Submission Limits: </b></td>
          <td> {{site.data.cfp.details[plural].limits}} 
          {% if site.data.cfp.details[plural].abstract %}
            (including abstract of {{site.data.cfp.details[plural].abstract}})
          {% endif %}
          </td>
        </tr>
        <tr>
          <td><b>Presentation Length: </b></td>
          <td> {{site.data.cfp.details[plural].length}}</td>
        </tr>
        
        {% unless (page.title contains "Call") %}
        <tr>
          <td><b>Submission Link: </b></td>
          <td> 
            {% if specialsubmission %}
            See below
            {% else %}
            <a href="{{site.data.cfp.submissionurl}}">{{site.data.main.upper}} {{site.data.main.year}} Submissions (OpenConf)</a> 
            {% endif %}
            </td>
        </tr>
        {% endunless %}
      </tbody>
    </table>
</div>
