<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>
            {{site.data.main.ORG}} {{site.data.main.year}} - {{page.title}}
        </title>

        {% include meta-tags.html %} 
        <!--[if lt IE 9]> <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
         {% include css.html %} 
         {% include fonts.html %}
    </head>
    <body>
        <div class="wrapper">
            <div class="box">
                <div class="row">
                    <!-- sidebar -->
                    <div class="column col-sm-3" id="sidebar">
                         <h2>
                             <a href="/{{site.base}}">SIGCSE 2015</a>
                         </h2>
                         <div class="mobile-logo center-block">
                             <a class="logo" href="{{site.base}}" >
                                 <img 
                                     style = "width: 100%; height: auto; display: block; max-width: 600px"
                                     src = "{{site.base}}/images/logos/{{site.data.logos.hortz_white}}"
                                     alt = "SIGCSE (ACM Special Interest Group Computer Science Education) 2015"
                                 />
                             </a>
                         </div>
                        <ul class="nav">
                            {% for elem in site.data.nav %}
                                <li> <a href="{{elem.link}}">{{elem.text}}</a> </li>
                            {% endfor %}
                        </ul>
                        <ul class="nav hidden-xs" id="sidebar-footer">
                            <li>
                                <small>
                                    <a href="http://www.bootply.com/templates">Basis - MIT licensed by Bootply</a>
                                </small>
                            </li>
                        </ul>
                    </div><!-- /sidebar -->
                    
                    <!-- main -->
                    <div class="column col-sm-9" id="main">
                        <div class="padding">
                            <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-6">
                                {% if page.showTitle %}
                                    <h2>{{page.title}}</h2>
                                {% endif %}
                            </div> <!-- sm-6 title -->
                            <div class="full pull-right mobile-logo col-sm-6" style="padding-top: 20px;">
                                <a class="logo" href="{{site.base}}" >
                                    <img 
                                        style = "width: 100%; height: auto; display: block; max-width: 400px"
                                        src = "{{site.base}}/images/logos/{{site.data.logos.hortz_purple}}"
                                        alt = "SIGCSE (ACM Special Interest Group Computer Science Education) 2015"
                                    />
                                </a>
                            </div><!-- sm-6 img -->
                        </div> <!-- sm-6 row -->
                            <div class="row">
                            <div class="full col-sm-9">
                                {{content}}
                                <hr>
                                <div class="row" id="footer">
                                    <div class="col-sm-6"></div>
                                    
                                </div> <!-- footer -->
                            </div><!-- /col-9 -->
                        </div><!-- row -->
                        </div><!-- /padding -->
                    </div><!-- /main -->
                </div>
            </div>
            {% include js-bottom.html %}
        </div> <!-- wrapper -->
    </body>
</html>
