<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% include css.html %}


    </head>
    <body>
      {% include javascript-top.html %}
      
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <h1>COUNTDOWN TO SIGCSE 2015</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div id="clock"> </div>
          </div>        
        </div>
      </div>
      
      <script>

        var nextSIGCSE = new Countdown({
        								 	year	: 2015,
        									month	: 3, 
        									day		: 4,
        									width	: 300, 
        									height	: 50,
                          hideLine : 1,
                          inline: true,
                          target: "clock",
        									numbers		: 	{
        													font 	: "Roboto",
        													color	: "#FFFFFF",
        													bkgd	: "#FF8000",
        													rounded	: 0.15,				// percentage of size 
        													shadow	: {
        																x : 0,			// x offset (in pixels)
        																y : 3,			// y offset (in pixels)
        																s : 4,			// spread
        																c : "#000000",	// color
        																a : 0.4			// alpha	// <- no comma on last item!
        																}
        													} // <- no comma on last item!
        									});
      </script>
    </body>
</html>
