<!DOCTYPE html>
<head>
          <title>
              {{site.data.main.upper}} {{site.data.main.year}} - {{page.title}}
          </title>

          {% include meta-tags.html %}
          {% include favicon.html %}
          {% include js-bottom.html %}
          {% include css.html %}

      </head>


    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
</head>

<body>

    <!--Header-->
    <body>
   <div class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <a href="{{site.base}}/" class="navbar-brand">{{site.data.main.upper}} {{site.data.main.year}}</a>
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <!-- START COLLAPSE -->
       <div class="navbar-collapse collapse" id="navbar-main">
         <ul class="nav navbar-nav">

           <!-- AUTHORS -->
           {% for topItem in site.data.nav %}
            {% if topItem["dropdown"] %}
              <li class = "dropdown">
                <a class = "dropdown-toggle" data-toggle = "dropdown" href = "#" id = "{{topItem['title']}}" >
                  {{topItem['title']}} <span class = "caret"</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                  {% for menuItem in topItem["links"] %}
                    {% if menuItem["title"] == "DIVIDER" %}
                      <li class = "divider"></li>
                    {% elsif menuItem["title"] == "ALLSUBMISSIONS" %}
                      {% for submission in site.data.cfp.master %}
                        {% for sub in submission.types %}
                            {% capture link %}<a href = "{{site.base}}/authors/{{sub.plural | remove: ' ' | downcase}}.html">{{sub.plural}}</a>{% endcapture %}
                            {% capture entry %}{{link}}{% endcapture %}
                            <li> {{entry}} </li>
                        {% endfor %}
                      {% endfor %}
                    {% else %}
                      <li> <a href = "{{site.base}}/{{menuItem['link']}}">{{menuItem['title']}}</a> </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li> <a href = "{{site.base}}/{{menuItem['link']}}">{{menuItem['title']}}</a> </li>
            {% endif %}
           {% endfor %}



         </ul>


         <!-- FAR RIGHT -->
         <ul class="nav navbar-nav navbar-right">
           <li><a href="http://www.sigcse.org/" target="_blank">SIGCSE</a></li>
           <li><a href="https://www.acm.org/" target="_blank">ACM</a></li>
         </ul>

       </div> <!-- END COLLAPSE -->
     </div>
   </div>
    <!-- /header -->

  <body>
    <div class = "row">
      <div class = "col-md-10 col-md-offset-1" style = "">
        {% unless page.showTitle == false %}
          <h1>{{page.title}}</h1>
        {% endunless %}
        {{content}}
      </div>
  </body>
</html>
